.aboutme-section {
  position: relative;
  background-color: $color-primary-light2;
  height: 100vh;
  padding: 2rem;
  margin-top: 4rem;
  
@include respond(tab-land){ // width <1200?
background-color: #DE463B;

&--container{
  // background-color: chartreuse;
  height: 60rem;
  &__right {
    // background-color: cadetblue;
    width: 60rem;
  }

}

}

@include respond(tab-port){ // width <900?
background-color: orange;
height:230vh;
}
@include respond(phone){ // width <600?
background-color: aqua;
height:260vh;

}


  &--container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    // background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%;
    min-height: 70%;
    border-radius: 11px;
    box-shadow: $box-shadow-card;
    transition: all 0.2s ease;
    overflow: hidden;
    &:hover {
      transition: all 0.2s ease;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        border-right: 4px solid $color-primary-dark;
        border-bottom: 4px solid $color-primary-dark;
        @include respond(phone){ // width <900?
          border-right: 2px solid $color-primary-dark;
          border-bottom: 2px solid $color-primary-dark;
          }
    }
    @include respond(phone){ // width <900?
      position: relative;
      }
    &__left { 
    position: relative;
      // background-color: bisque;
      width: 100%;
      max-height: 100%;
      overflow: hidden;
      @include respond(tab-port){ // width <900?
        width: 90%;
        max-height: 100%;
        }
        @include respond(phone){ // width <900?
          width: 100%;
          max-height: 100%;
          }
    }
    &__right {
      padding: 2rem;
      // background-color: orange;
      max-width: 60%;
      height: 50rem;
      line-height: 1.2;
      @include respond(tab-land){
        height: 60rem;
      }
      h3 {
        font-size: $h3-size;
        margin-bottom: 2rem;
        text-transform: uppercase;
        color: $color-primary-dark;
        @include respond(tab-land){
          margin-top:2rem;
        }
      }
      p {
        // background-color: red;
        font-size:$p-size;
      }
      @include respond(tab-port){ // width <900?
        width: 100%;
        }
        @include respond(phone){ // width <900?
          
          
          }
    }
    @include respond(tab-port){ // width <900?
      display: flex;
      flex-direction: column;
      }
      @include respond(phone){ // width <900?
       justify-content: start;
       min-width: 95%;
       min-height: 70%;
       overflow: hidden;
        }

  }
  // About me picture and details
  .card {
    max-width: 100%;
    height: 54rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: $color-primary-light2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .4s;
    overflow: hidden;
    @include respond(tab-land){ // width <1200?
      min-height: 60rem;  
    }
    @include respond(tab-port){ // width <900?;

    }
    &__logo{
        background-image: url('../../sources/profile.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      
        @include respond(tab-port){ // width <900?
          background-size: cover;
          position:absolute;
          background-repeat: no-repeat;
          background-position: center;
        }
        @include respond(phone){ // width <600?
        }   
    }

   }
   
   .card::before {
    content: 'JARREL RANDEL DEL ROSARIO';
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51, 51, 51);
    font-weight: 700;
   }
   
   .card div {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: #fff;
   }
   
   .card:hover div {
    transform: translateY(-40px);
    background-image: linear-gradient(to top, #0b2545b1, rgba(119, 119, 119, 0.521)),
    url(/sources/profile.jpg);
    transition: all ease 1s;
   }

   
   //social media and download cv container container
   .cta-links{
    margin-top:2rem;
    // background-color: red;
    gap: 2rem;
    display: flex;
    @include respond(tab-land){ // width <1200?
      margin-top: 2rem;
    }   
    @include respond(tab-port){ // width <900?
      flex-direction: column-reverse;
      } 
   }

   // social media icons style and animation 
   .wrapper{
    display:flex;

    .icon{
      margin: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      cursor: pointer;
      span{
        position: relative;
        height:60px; 
        width: 60px;
        display: block;
        background:#fff;
        text-align: center;
        border-radius:50%;
        z-index: 2;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
        a{
        
          color:rgb(0, 0, 0);
          &:hover{
            color: #fff;
          }
        }
        }
        i{
          font-size:25px;
          line-height: 60px;
        }
   
        .tooltip{
          position: absolute;
          top: 0px;
          color:#fff;
          background:#fff;
          font-size: 20px;
          padding:10px 18px;
          border-radius: 25px;
          box-shadow: 0 10px 10px rgba(0,0,0,0.1);
          opacity: 0;
          pointer-events:none;
          transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
          &::before{
            position: absolute;
            content:'';
            height:15px;
            width: 15px;
            background:#fff;
            bottom:-8px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
          }
         }
        &:hover{ 
          span{
              color: #fff;
              text-shadow:0px -1px 0px rgba(0,0,0,0.4);
          } 
          .tooltip{
            top: -70px;
            opacity: 1;
            pointer-events: auto;
          }
        }   
        @include respond(tab-land){ // width <1200?
          margin: 0 10px;
        }     
     }
   .facebook{
      &:hover{
        .tooltip,span{
          background-color: #3B5999;
          &::before{
            background-color: #3B5999;
          }
        }
      }
     }
     .linkedin{
      &:hover{
        .tooltip,span{
          background-color: #0072b1;
          &::before{
            background-color: #0072b1;
          }
        }
      }
     }
     .instagram{
      &:hover{
        .tooltip,span{
          background-color: #e1306c;
          &::before{
            background-color: #e1306c;
          }
        }
      }
     }

     .github{
      &:hover{
        .tooltip,span{
          background-color: #333;
          &::before{
            background-color: #333;
          }
        }
      }
     }
     .youtube{
      &:hover{
        .tooltip,span{
          background-color: #DE463B;
          &::before{
            background-color: #DE463B;
          }
        }
      }
     }
     @include respond(phone){ // width <900?
          position: absolute;
          left: 15%;
          bottom: 5%;
       } 
   }
 

  // CV link Button
  &__cv-link {
    margin-top: 2rem;
    appearance: none;
    backface-visibility: hidden;
    background-color: #0b2545;
    border-radius: 11px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    height: 5rem;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 1.4rem 1.3rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;

    &:hover {
      background-color:$color-grey-dark;
      box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
      opacity: 1;
      transform: translateY(0);
      transition-duration: 0.35s;
      color: $color-primary-light2;

      &:after {
        opacity: 0.5;
      }
    }
    &:active {
      box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
        rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
      transform: translateY(2px);
      transition-duration: 0.35s;
      &:after {
        opacity: 1;
      }
    }
    @include respond(tab-land){
 
    }
  }
  &__cv-text {
    text-decoration: none;
  }
}

